{{ partial "header.html" . }}

<div class="section" id="About">
    <div class="picture"></div>
    <h2>Desenvolvedor Backend | Cientista de Dados | Engenheiro de Dados</h2>
    <div id="shortResume">
        <p>Sou um Cientista de Dados apaixonado por algoritmos, visualização de dados e machine learning. Formado em Sistemas de Informação pela UFPE, trago uma mistura única de rigor acadêmico e experiência prática, sempre buscando expandir os limites do que os dados podem alcançar.</p>
        <p>Além do foco profissional, tenho um profundo fascínio por terror—seja lendo sobre jogos de terror, assistindo filmes de terror ou explorando histórias imersivas e sinistras. Também gosto de criar e jogar, de video games a board games complexos, encontrando suas camadas estratégicas e narrativas extremamente envolventes.
    </div>

        <div id="interests">
            <h3>Meus interesses</h3>
            <ul>
                <li>Visualização de Dados</li>
                <li>Algoritmos de Machine Learning</li>
                <li>Desenvolvimento Backend</li>
                <li>Análise Estatística</li>
                <li>Otimização de Pipeline de Dados</li>
            </ul>
        </div>

        <div id="aditionalInfo">
            <h3>Informações Adicionais</h3>
            <p>Sinta-se à vontade para se conectar comigo no LinkedIn ou conferir meus projetos no GitHub. Quando não estou programando, jogando ou explorando mídia de terror, geralmente estou trabalhando neste blog, espero que você goste.</p>
        </div>

        <div class="social-media">
            <a href="https://www.linkedin.com/in/victor-burgardt-38bb00194/" target="_blank">Confira meu Linkedin</a>
            <a href="https://github.com/Vapb" target="_blank">Confira meu GitHub</a>
            <a href="{{ "cv/cv_br" | relURL }}">CV-BR</a>
            <a href="{{ "cv/cv_en" | relURL }}">CV-EN</a>
        </div>
    </div>

</div>


{{ partial "footer.html" . }}
