<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
  <link rel="stylesheet" href="{{ "css/style-cv.css" | relURL}}" type="text/css" media="all" />
</head>

<body>
    <div class="dropdown">
      <button class="dropbtn">Languages</button>
      <div class="dropdown-content">
        <a href="../cv_br">Portuguese</a>
        <a href=".">English</a>
      </div>
    </div> 
  
    <div class="curriculum">
      <div class="profile">
          <h1>Victor Burgardt</h1>
          <p>vapb7123@gmail.com</p>
      </div>
      
      <div class="section">
        <h3>Education</h3>
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/igti_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Faculdade XP Educação - IGTI (XPE)</span>
                <span class="bold">MBA in Data Engineering.</span>
              </div>
              <span class="date">2022 - 2024</span>
            </div>
          </div>
        </div>
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/puc_rio_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Pontifical Catholic University of Rio de Janeiro (PUC-Rio)</span>
                <span class="bold">Post graduation in Data Science.</span>
              </div>
              <span class="date">2020 - 2021</span>
            </div>
          </div>
        </div>
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/cinufpe_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Universidade Federal de Pernambuco (UFPE)</span>
                <span class="bold">Bachelor of Information Systems with Academic Honors</span>
              </div>
              <span class="date">2015 - 2019</span>
            </div>
          </div>
        </div>
  
        <div class="section">
          <h3>Professional Experiences</h3>
          <div class="work-experience">
            <div class="company-logo">
              <img src="{{ "images/cv-images/fcx-labs.jpg" | relURL }}" alt="Company Logo">
            </div>
            <div class="job-experience">
              <div class="job-title">
                <div class="title-space">
                  <div class="title">
                    <span class="job-name">FCx Labs (Ferreira Costa)</span>
                    <span class="bold">Tech Leader</span>
                  </div>
                  <span class="date">Jul, 2024 - Present</span>
                </div>
                <span class="job-description">Leading technical initiatives and coordinating projects, emphasizing effective management and the technical and functional refinement of activities.</span>
                <span>Main responsibilities:</span>
                <ul>
                  <li>Detailed refinement of technical and functional tasks, ensuring clarity and precise direction for development.</li>
                  <li>Strategic delegation of tasks based on individual team member skills, optimizing productivity.</li>
                  <li>Conducting meetings and aligning expectations with stakeholders, ensuring transparent communication and delivery of project objectives.</li>
                  <li>Continuous development and maintenance of projects to meet business demands.</li>
                  <li>Designing and reviewing solution architectures to ensure scalability, performance, and security.</li>
                  <li>Evaluating and implementing tools and practices to optimize development processes and increase project effectiveness.</li>
                  <li>Carrying out other essential activities for team efficiency and success.</li>
                </ul>
              </div>
              <div class="job-title">
                <div class="title-space">
                  <div class="title">
                    <span class="bold">Data Scientist / Python Developer</span>
                  </div>
                  <span class="date">Nov, 2022 - Present</span>
                </div>
                <span class="job-description">Engaged from the start in three key projects: Development of the Transport Management System (TMS) with a focus on shipping price calculations, creation of a DAG to define free shipping for e-commerce, and implementation of Dagster pipelines to monitor business rules and ensure correct e-commerce operations, enhancing proactivity in incident resolution.</span> 
                <span>Main responsibilities:</span>
                <ul>
                  <li>Database performance analysis with Jupyter.</li>
                  <li>Creating DAGs in Dagster.</li>
                  <li>Migrating Oracle packages to Postgres.</li>
                  <li>Translating Oracle and PL/SQL database functions to Python.</li>
                  <li>Optimizing the bin packing problem.</li>
                  <li>Analyzing user data to optimize shipping cost calculations.</li>
                  <li>Developing, maintaining, and documenting FastAPI backend systems.</li>
                  <li>Conducting load testing on backend endpoints.</li>
                  <li>Resolving critical incidents in databases and production servers, minimizing impact and ensuring system stability.</li>
                  <li>Utilizing AWS solutions such as RDS, S3, IAM, AWS Secrets, and ElasticCache.</li>
                  <li>Other activities.</li>
                </ul>
                <div class="tools">
                  <span class="bold">Tools:</span>
                  <span>K6, AWS, Rancher, Docker, Jupyter, Pandas, Polars, PLSQL, Postgres, Oracle</span>
                </div>
                <div class="skills">
                  <span class="bold">Skills:</span>
                  <span>Python, Jupyter, Data Pipeline, PostgreSQL, Oracle Database, Amazon Web Services</span>
                </div>
              </div>
            </div>
          </div>
        </div>        
        
        <hr class="dash">
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/fgv-ibre.jpg" | relURL }}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="job-title">
              <div class="title-space">
                <div class="title">
                  <span class="job-name">Fundação Getulio Vargas FGV IBRE</span>
                  <span class="bold">Python Data Developer</span>
                </div>
                <span class="date">Apr, 2021 - Apr, 2022</span>
              </div>
              <span class="job-description">This position's main project was building a data platform from scratch to capture prices from large e-commerce websites, analyze them, and load them into a Postgres database for further use by the data science team.</span> 
              <span>Main responsibilities:</span>
              <ul>
                <li>Maintaining and developing back-end systems using the Django framework.</li>
                <li>Developing web scrapers and other data tools in Python.</li>
                <li>Analyzing the structure and network flow of web applications and APIs for scraper automation and performance.</li>
                <li>Creating Python scripts for data processing, modeling, and visualization.</li>
                <li>Assisting the team with project integration into Power BI.</li>
                <li>Developing dashboards in Power BI.</li>
              </ul>
            </div>
            <div class="job-title">
              <div class="title-space">
                <div class="title">
                  <span class="bold">Software Engineering Intern</span>
                </div>
                <span class="date">Jul, 2020 - Apr, 2021</span>
              </div>
              <span class="job-description">This internship focused on supporting the development of a data platform to capture e-commerce prices and load data into a Postgres database.</span> 
              <span>Main responsibilities:</span>
              <ul>
                <li>Maintaining and developing back-end systems using the Django framework.</li>
                <li>Developing web scrapers and other tools in Python.</li>
                <li>Developing dashboards in Power BI.</li>
              </ul>
              <div class="tools">
                <span class="bold">Tools:</span>
                <span>Python, Django, Jupyter, Pandas, Power BI, Docker, Kubernetes, Azure, Burp Suite</span>
              </div>
              <div class="skills">
                <span class="bold">Skills:</span>
                <span>Python, Jupyter, Pandas, Microsoft Power BI, ETL (Extract, Transform, Load), PostgreSQL</span>
              </div>
            </div>
          </div>
        </div>        
  
      <hr class="dash">
  
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/tsi.jpg" | relURL }}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Tempest Security Intelligence</span>
              <span class="bold">Threat Intelligence Intern</span>
            </div>
            <span class="date">Oct, 2018 - Oct, 2019</span>
          </div>
          <span class="job-description">This internship focused on supporting threat intelligence operations by investigating cyber threats, assisting analysts, and automating operational tasks with scripts.</span>
          Main responsibilities:
          <ul>
            <li>Conducting analyses and investigations of cyber threats and financial fraud.</li>
            <li>Assisting Threat Intelligence Analysts in executing operations through Python script development.</li>
            <li>Writing scripts to automate the analysis of massive threat data.</li>
          </ul>
          <div class="tools">
            <span class="bold">Tools:</span>
            <span>Python, Bash, Burp Suite, Jira.</span>
          </div>
          <div class="skills">
            <span class="bold">Skills:</span>
            <span>Python, Bash, Cyber Threat Intelligence (CTI)</span>
          </div>
        </div>
      </div>
      
      <div class="section">
        <h3>Skills</h3>
        <div>
          <span class="bold">Programming Languages:</span>
          <span>Python, Java, R, SQL, Scala, JavaScript, Bash.</span>
        </div>
        <div>
          <span class="bold">Tools:</span>
          <span>Excel, Spark, Airflow, ETL, Azure, Docker, Kubernetes, GitHub, Power BI</span>
        </div>
        <div>
          <span class="bold">Languages:</span>
          <span>English (Advanced), Portuguese (Native)</span>
        </div>
        <div>
          <span class="bold">GitHub:</span>
          <span><a href="https://github.com/Vapb">https://github.com/Vapb</a></span>
        </div>
      </div>
  
      <div class="section">
            <h3>Certifications and Awards</h3>
                <ul>
              <li>DataCamp Data Engineer with Python (Ago 2022)</li>
              <li>Oracle Cloud Infrastructure 2022 Foundations Associate (Ago 2022)</li>
              <li>IBM Data Science Professional Certificate (Abr 2020)</li>
              <li>Academic Laureate - UFPE (Dez 2019)</li>
            </ul>
      </div>
    </div>
  </body>
  </html>
