{{ partial "header.html" . }}

<div id="content-en" style="display: none;">
  <h1 style="text-align: center;">Page Not Found</h1>
  <img class="circular--square not-found-img center " src="{{ "images/Happy.webp" | relURL}}" />
  <h1 style="text-align: center;"><a href="/" style="color: red;">Go back to the home page</a></h1>
</div>

<div id="content-pt" style="display: none;">
  <h1 style="text-align: center;">Página Não Encontrada</h1>
  <img class="circular--square not-found-img center " src="{{ "images/Happy.webp" | relURL}}" />
  <h1 style="text-align: center;"><a href="/pt/" style="color: red;">Voltar para a página inicial</a></h1>
</div>

<script>
  const currentPath = window.location.pathname;  
  if (currentPath.includes('/pt/')) {
    document.getElementById('content-pt').style.display = 'block';
  } else {
    document.getElementById('content-en').style.display = 'block';
  }
</script>

{{ partial "footer.html" . }}
